@charset "UTF-8";
/*body*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  color: #000000;
  background-color: #F6F6F6;
}

/*loader*/
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.952);
  -webkit-animation: loader 0.01s;
          animation: loader 0.01s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  -webkit-animation: jump 1s;
          animation: jump 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.loader__itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loader__item--1 {
  background-color: #9356DC;
}

.loader__item--2 {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loader__item--3 {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

/*main1 logo*/
.main1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

@media (max-width: 375px) {
  .main1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main1 .logo {
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  height: 4em;
  width: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .main1 .logo {
    height: 6rem;
  }
}

.main1 .logo__image {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* localisation */
.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  background-color: #EAEAEA;
  width: 100%;
}

@media (max-width: 768px) {
  .localisation {
    height: 6rem;
  }
}

.localisation i {
  margin-right: 1em;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px 0px 10px 0px;
}

@media (max-width: 768px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner h2 {
  text-align: center;
}

.banner__button {
  position: relative;
  display: block;
  text-decoration: none;
  width: 220px;
  height: 50px;
  margin: 30px auto;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0 2px 4px #636363cc;
          box-shadow: 0 2px 4px #636363cc;
  z-index: 1;
  color: white;
}

.banner-title {
  text-align: center;
  padding-top: 15px;
  color: white;
  font-weight: bold;
}

.banner__title {
  text-align: center;
}

.banner__button:hover::before {
  opacity: 1;
}

.banner__button::before {
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#ae80e5));
  background: linear-gradient(#9356DC, #ae80e5);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.steps {
  padding: 20px 20px 40px 20px;
}

.steps__choice {
  width: 50%;
  display: block;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.steps {
  padding: 20px 20px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

@media (max-width: 768px) {
  .steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 375px) {
  .steps {
    display: block;
    margin-top: 10px;
    margin-left: 0rem;
  }
}

.steps__choice {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .steps__choice {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 375px) {
  .steps__choice {
    display: initial;
  }
}

.steps__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 20px;
  background: #F6F6F6;
  margin-bottom: 1em;
  margin-right: 36px;
  width: 21em;
  height: 4em;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 375px) {
  .steps__container {
    width: 100%;
    border-radius: 50px;
  }
}

.steps__container:hover {
  background-color: #b488e9;
}

.steps__container i {
  margin-right: 24px;
}

@media (max-width: 375px) {
  .steps__container i {
    margin-left: -16px;
  }
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: -33px;
  margin-right: 10px;
  height: 24px;
  width: 24px;
}

@media (max-width: 768px) {
  .number {
    margin-right: 42px;
    margin-left: -37px;
  }
}

@media (max-width: 375px) {
  .number {
    margin-left: -36px;
  }
}

.cercle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-left: -10px;
  margin-right: 1em;
  background-color: #9356DC;
}

@media (max-width: 768px) {
  .cercle {
    width: 10%;
    height: 48%;
    margin-left: -15px;
  }
}

@media (max-width: 375px) {
  .cercle {
    width: 10%;
  }
}

/*Restaurants*/
.restaurants {
  background-color: #f2f2f2;
  padding: 20px 20px 40px 20px;
}

.restocard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .restocard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 375px) {
  .restocard {
    margin-left: -2rem;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 1em;
  background-color: white;
  overflow: hidden;
  text-decoration: none;
  margin-left: 15px;
  width: 100%;
}

@media (max-width: 768px) {
  .card {
    width: 41%;
  }
}

@media (max-width: 375px) {
  .card {
    margin-left: 30px;
    width: 100%;
  }
}

.card__image {
  height: 12em;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.card__new {
  position: absolute;
  top: 8px;
  right: 16px;
  color: #278870;
  background-color: #99E2D0;
  width: 38%;
  height: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .card__new {
    width: 28%;
    height: 18%;
  }
}

@media (max-width: 375px) {
  .card__new {
    margin-top: 12px;
  }
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 10px;
  color: black;
}

.card__bottom p {
  color: black;
  font-weight: 300;
  margin-bottom: 3px;
}

.card__bottom span {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: 100%;
  font-size: x-large;
}

.card__bottom span .fa-heart {
  font-size: 26px;
  opacity: 1;
}

@media (max-width: 375px) {
  .card__bottom span .fa-heart {
    font-size: 1em;
  }
}

.card__name {
  margin-bottom: -9px;
  margin-top: 4px;
}

.card .fa-heart:hover {
  opacity: 1;
  color: #E47AF6;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/*footer*/
footer {
  padding: 1em;
  color: white;
  background-color: #353535;
}

footer .logofooter {
  color: white;
  width: 100px;
  font-family: "Shrikhand", cursive;
  font-style: italic;
  margin: auto;
  text-align: center;
}

@media (max-width: 375px) {
  footer .logofooter {
    margin-left: 13px;
  }
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

@media (max-width: 768px) {
  footer ul {
    margin-left: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 375px) {
  footer ul {
    display: block;
    margin-left: -35px;
  }
}

footer li {
  margin-left: 24px;
  list-style: none;
  line-height: 30px;
}

@media (max-width: 768px) {
  footer li {
    margin-left: 1rem;
  }
}

footer li a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  footer li a {
    margin-bottom: 25px;
  }
}

/* Pages menus (autres pages html) */
.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  padding: 3px;
}

.main .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .main .logo__image {
    width: 94%;
  }
}

/*image restaurant*/
.bg-image {
  height: 30em;
}

@media (max-width: 375px) {
  .bg-image {
    height: 17rem;
  }
}

.bg-image img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .bg-image img {
    height: 31rem;
  }
}

@media (max-width: 375px) {
  .bg-image img {
    height: 20rem;
  }
}

/*menu*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  border-radius: 42px 42px 0 0;
  background-color: #F6F6F6;
  padding: 35px 20px;
  height: 37em;
}

@media (max-width: 768px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 113rem;
  }
}

@media (max-width: 375px) {
  .menu {
    margin-bottom: 41rem;
    height: 40rem;
  }
}

.menu span {
  font-size: 23px;
  cursor: pointer;
}

.menu span .fa-heart:hover {
  opacity: 1;
  color: #E47AF6;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu .carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

@media (max-width: 768px) {
  .menu .carte {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 375px) {
  .menu .carte {
    width: 100%;
  }
}

.menu .carte-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 67px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27%;
}

@media (max-width: 768px) {
  .menu .carte-choice {
    width: 100%;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}

.menu .carte-type {
  margin-left: 10px;
  font-weight: 200;
  font-size: 1rem;
  border-bottom-style: groove;
  border-bottom-color: #99E2D0;
  width: 13%;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .menu .carte-type {
    font-size: 2rem;
    width: 10%;
    height: 100%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 375px) {
  .menu .carte-type {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

h5 {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-size: 1.85em;
  font-weight: 400;
  margin: 0;
  text-align: left;
  color: #000000;
}

@media (max-width: 768px) {
  h5 {
    font-size: 3rem;
  }
}

@media (max-width: 375px) {
  h5 {
    font-size: 2rem;
  }
}

/*Plats*/
.plats p {
  font-size: 13px;
  font-weight: 100;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 768px) {
  .plats p {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .plats p {
    font-size: 0.85rem;
  }
}

.plats h5 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
}

.plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.75rem;
  margin: 1rem 0;
  overflow: hidden;
  max-width: 100%;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-animation: itemAppear .5s;
          animation: itemAppear .5s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.plat__title {
  margin-bottom: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 768px) {
  .plat__title {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .plat__title {
    font-size: 1rem;
  }
}

.plat__top {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 375px) {
  .plat__top {
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
  }
}

.plat__price {
  margin-bottom: -20px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: .5rem;
}

@media (max-width: 768px) {
  .plat__price {
    font-size: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 375px) {
  .plat__price {
    font-size: 1rem;
    margin-right: 0rem;
  }
}

.plat__conf {
  /*caché pour qu'il apparaisse au passage de la souris */
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (max-width: 768px) {
  .plat__conf {
    margin-right: -10rem;
    height: 167px;
    width: 18%;
  }
}

@media (max-width: 375px) {
  .plat__conf {
    height: 5rem;
    width: 22%;
    margin-right: -6rem;
  }
}

.plat:hover .plat__conf {
  margin-right: -1rem;
  height: 83px;
}

@media (max-width: 768px) {
  .plat:hover .plat__conf {
    height: 11rem;
    width: 22%;
  }
}

@media (max-width: 375px) {
  .plat:hover .plat__conf {
    height: 6rem;
  }
}

.plat--1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@media (max-width: 768px) {
  .plat--1 {
    height: 6rem;
  }
}

@media (max-width: 375px) {
  .plat--1 {
    height: 3rem;
  }
}

.plat--2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@media (max-width: 768px) {
  .plat--2 {
    height: 6rem;
  }
}

@media (max-width: 375px) {
  .plat--2 {
    height: 3rem;
  }
}

.plat--3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@media (max-width: 768px) {
  .plat--3 {
    height: 6rem;
  }
}

@media (max-width: 768px) and (max-width: 375px) {
  .plat--3 {
    height: 3rem;
  }
}

.plat--4 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@media (max-width: 768px) {
  .plat--4 {
    height: 6rem;
  }
}

@media (max-width: 768px) and (max-width: 375px) {
  .plat--4 {
    height: 3rem;
  }
}

.favorite {
  font-size: 1.5em;
}

.icon--bg {
  background-color: white;
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.plat:hover .icon--bg {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

@media (max-width: 375px) {
  .plat:hover .icon--bg {
    font-size: 1rem;
  }
}

.fa-check {
  color: #99E2D0;
}

/*boutons */
.bt-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 17px;
  font-size: 2em;
}

.bt-back i {
  color: black;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

@media (max-width: 768px) {
  .button-container {
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  .button-container {
    margin-top: 3rem;
  }
}

.button1 {
  position: relative;
  cursor: pointer;
  z-index: 1;
  width: 32%;
  height: 4rem;
  color: #000000;
  color: #FFFFFF;
  border-radius: 50px;
  border-style: hidden;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #FF79DA), color-stop(85%, #9356DC));
  background: linear-gradient(180deg, #FF79DA 15%, #9356DC 85%);
}

@media (max-width: 375px) {
  .button1 {
    width: 55%;
  }
}

.button1:hover::after {
  opacity: 1;
}

.button1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #9356DC), color-stop(85%, #FF79DA));
  background: linear-gradient(180deg, #9356DC 15%, #FF79DA 85%);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.favorite {
  height: 88%;
  width: 14%;
  background-color: transparent;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: absolute;
  background-color: #000;
  border-style: none;
  outline: none;
  margin-left: 90%;
}

@media (max-width: 375px) {
  .favorite {
    font-size: 2rem;
    height: 3rem;
  }
}

.favorite:hover::before {
  opacity: 1;
}

.favorite::before {
  position: absolute;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc, #ff79da);
}

.fav {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: lighten;
}

.favorite::before, .fav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.favorite:hover .fav__unselect {
  opacity: 0;
}

.favorite:hover .fav__select {
  opacity: 1;
}

/*fonctions scss */
@-webkit-keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=styles.css.map */